/*header的开始*/
#header{
    background: url(../img/banner.jpg) no-repeat center;
    height: 600px;
}
#login a:hover{
    text-decoration: underline;
    /*border-bottom: 1px solid #fff;*/
}
#login, #header h1{
    color: #fff;
    width: 380px;
}
#login a{
    color: #fff;
}
div.float#cart{
    width: 260px;
    height: 30px;
    background: #000;
    opacity: .5;/* 取值范围0~1 */
    filter: alpha(opacity=50);/* ie下  取值范围0~100 */
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 25px;
    line-height: 30px;
    float: right;
}
#header img{
    vertical-align: middle;
}
#header .float{
    float: left;
}
#header h1.float{
    text-align: center;
}
#main-header{
    height: 100px;
    line-height: 100px;
}
#nav>li{
    width: 190px;
    height: 40px;
    background: #fa558f;
    float: left;
    text-align: center;
    line-height: 40px;
}
#nav>li:hover{
    background: #3c3b3b;
}
#nav a{
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
}
#nav .selected{
    background: #3c3b3b;
}
#submenu{
    width: 1140px;
    height: 300px;
    background: #ffffff;
    margin-left: -190px;
    display: none;
}
#makeup:hover #submenu{
    display: block;
}#slist{
    float: left;
    text-align: center;
 }
 #slist a{

     color: #000000;
 }
 #slist>li{
     width: 228px;
     text-decoration: underline;
     float: left;
 }
#main-header p{
    color: #ffffff;

}
/*header的结束**/



/*new-product开始*/
#new-product{
    margin-top: 56px;
    height: 266px;
}
#new-product .sale{
    height: 210px;
    width: 360px;
    background:  no-repeat;
    float: left;
    margin-right: 30px;
}
#new-product .bg1{
    background: url("../img/bg1.jpg")
}
#new-product .bg2{
    background: url("../img/bg2.jpg")
}
#new-product .sale .bg3{
    background: url("../img/bg3.jpg")
    margin-right : 0px;
}
#new-product .sale h4{
    color: #ffffff;
}
/*new-product结束*/

/*product开始*/
.product-info{
    width: 340px;
    border: 1px solid #cccccc;
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}

.product-img{
    background: url("../img/bs1.jpg");
}

.product-detail input{
    width: 150px;
    height: 50px;

}



.add{
    width: 150px;
    height: 50px;
    background: orange;
    
}
